body { 
	padding-bottom: 90px; 
}

.navbar {
	color: white;
}


.navbar-fixed-bottom {
	padding: 10px;
}

#nbaHtmlTemplateEditor {
	height: 300px;
    border: 2px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
    font-size: 16px;
}


.area-demolinks {
	background-clip: azure;
}