	body {
		max-height: 100%;
		overflow: hidden;
	}

	#storeMap {
		position: absolute;
    	top: 0px;
    	width: 100%;
	}

	#storeMapImg {
		width: 100%;
	}

	#infobox {
		text-align: center;
	}

	#customer-list {
		width: 150px;
		margin-top: 200px;
		margin-left: 20px;
	}

	.container.customer > .col-xs-6{
		padding-right: 0px;
		padding-left: 0px;

	}

	.avatarImg {
		max-width: 75px;
		max-height: 75px;
		margin: 0px;
	}

	.container.customer {
		  background-size: contain;
		  width: 125px;
		  height: 170px;
		  opacity: 0.90;
		  margin: 10px;
	}

	div.container.customer :active {
		  /*margin: 3px;
		  border-radius: 60px;
		  border-width: 3px;
		  border-style: solid;
		  border-color: rgb(255,0,0);*/
	}

	.container.customer h4 {
		 margin-top: 10px;
		 margin-bottom: 5px;
	}
	  
	.container.location.editable {
		opacity: 0.6 !important;
	}


	.container.location {
		opacity: 0;
		color: white;
		text-align: center;
		border-radius: 10px;
	}



	.vcenter {
	    display: inline-block;
	    vertical-align: middle;
	    float: none;
	}

	#config-panel {
		position: fixed;
	    right: 10px;
	    bottom: 5px;
	}


	.ui-dialog {
		font-size: 0.8em;
		z-index: 1000 !important ;
	}

	#dialogCustomerImage {
		padding-bottom: 3px;

	}

	#dialogCustomerInterests {
		margin-bottom: 5px;
	}

	div.mapPinPointer {
		width: 10px;
	    height: 5px;
	    position: relative;
	    left: 60px;
	    top: -15px;
	}
	
@keyframes example {
    0%   {border-width: 0px; opacity: 0}
    50%  {border-width: 50px; opacity: 0.3}
    100% {border-width: 0px; opacity: 0}
}

.animateLocation {
	animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.custumer-image-box {
	background-image: url('../img/no_avatar.png');
    width: 90px;
    height: 90px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: relative;
    top: 19px;
    left: 3px;
    border-width: 3px;
    border-style: dashed;

}
