	body {
		max-height: 100%;
		overflow: hidden;
	}

	#storeMap {
		position: absolute;
    	top: 0px;
    	width: 100%;
	}

	#storeMapImg {
		width: 100%;
	}

	#infobox {
		text-align: center;
	}

	#customer-list {
		width: 150px;
		margin-top: 200px;
		margin-left: 20px;
	}

	.container.customer > .col-xs-6{
		padding-right: 0px;
		padding-left: 0px;

	}

	.avatarImg {
		max-width: 75px;
		max-height: 75px;
		margin: 0px;
	}

	.container.customer {
		  /*margin: 3px;*/
		  /*border-radius: 15px;
		  border-width: 1px;
		  border-style: dotted;
		  border-color: rgb(130,130,130);
		  */
		  opacity: 0.95;
		  min-height: 80px;
		  max-width: 100%;
	}

	div.container.customer :active {
		  /*margin: 3px;
		  border-radius: 60px;
		  border-width: 3px;
		  border-style: solid;
		  border-color: rgb(255,0,0);*/
	}

	.container.customer h4 {
		 margin-top: 10px;
		 margin-bottom: 5px;
	}
	  
	.container.location.editable {
		opacity: 0.6 !important;
	}


	.container.location {
		opacity: 0;
		color: white;
		text-align: center;
		border-radius: 10px;
	}



	.vcenter {
	    display: inline-block;
	    vertical-align: middle;
	    float: none;
	}

	#config-panel {
		position: fixed;
	    right: 10px;
	    bottom: 5px;
	}


	.ui-dialog {
		font-size: 0.8em;
		z-index: 1000 !important ;
	}

	#dialogCustomerImage {
		padding-bottom: 3px;

	}

	#dialogCustomerInterests {
		margin-bottom: 5px;
	}


	img.mapPin {
		max-height: 150px;
		margin: 10px;
	}

	div.mapPinPointer {
		width: 10px;
	    height: 5px;
	    position: relative;
	    left: 60px;
	    top: -15px;
	}
	
@keyframes example {
    0%   {border-width: 0px; opacity: 0}
    50%  {border-width: 50px; opacity: 0.3}
    100% {border-width: 0px; opacity: 0}
}

.animateLocation {
	animation-name: example;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.ratio-box{
	position: relative;
	width: 50%;		/* desired width */
}
.ratio-box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}