.bar {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(146, 146, 146, 0.5);
}

.bar-tab {
    border-top: 1px solid rgba(146, 146, 146, 0.5);
}

.content {
	background-image:url('../images/home.jpg');
	background-size: 100% 100%;
}

/* icon and title color */
.bar-tab .tab-item, .title {
    /*color: #929292;*/
    color: #FFFFFF;
}

.bar-tab .tab-item.active, .bar-tab .tab-item:active {
    /*color: #428bca;*/
    color: #428bca;
}

.social-icon {
	box-shadow: 2px 2px 2px 2px #888888;
	border-radius: 50px;
}

.background-transparent {
	background-color: rgba(0, 0, 0, 0.5);
	/*background-color: rgba(250, 250, 250, 0.6);*/
	text-align:center;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	border-radius: 5px;
}

.table-view {
	background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid #4A535C;
    border-bottom: 1px solid #49525B;
}
.table-view-cell {
    border-bottom: 1px solid #49525B;
}

.media-body {
	color: #fafafa;
}

p {
	color: #ddd;
}

.padded-layer {
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	text-align:center;
}

label, .white-text {
	color: #fafafa;
}

.table-view-cell > a:not(.btn) {
    color: #428bca;
}

.offer-details {
	background-color: rgba(0, 0, 0, 0.5);
}